div{
    background-color: rgb(176, 172, 172);
    margin: 1%;
}

body{
    background: rgb(240, 235, 235);
}

input{
    width: 97%;
    margin: auto;
}

.enviar{
    width: 100%;
    margin: auto;
    background-color: rgb(77, 129, 225);
    color: white;
}